{%load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Detalhes sobre a venda</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <style media="screen">

        .fa-bars {
            color: #FFFFFF;
        }

        .fa-graduation-cap {
            color: #FFFFFF;

        }

        .fa-briefcase {
            color: #FFFFFF;

        }

        .fa-tools {
            color: #FFFFFF;

        }

        .fa-book-open {
            color: #FFFFFF;

        }

        .bolinha {

            width: 40px;
        }
    </style>
</head>

<body class="bg-dark">


    <div class="container  shadow-sm mt-3 bg-white">

        <div class="row bg-light rounded p-5 text-dark">

            <div class="col-lg">

                <h3 class="ml-5">Geveni</h3>
                <h3 class="ml-5 font-weight-light">Detalhes Sobre a Venda #{{object.pk}}</h3>
                <hr>
                <h4 class="ml-5"><b>Cliente:</b> {{ object.cliente.nome }}</h4>
                <h4 class="ml-5"><b>CPF:</b> {{ object.cliente.cpf }}</h4>
                <h4 class="ml-5"><b>Data da Venda:</b> {{ object.data_venda }}</h4>
                
            </div>
            
            
            <!-- <div class="col-lg text-right p-3">
                <div class="">
                    
                    <i class="fas fa-print text-roxo"></i> para imprimir relatorio presione ctrl p
                </div>
            </div> -->    
            
        </div>
        
        <table class="table table-striped">
            
            <tr>
                <th>PRODUTO</th>
                <th>MODELO</th>
                <th>QTDE</th>
                <th>PRECO UNITARIO</th>
                <th>SUBTOTAL</th>
                
                
                
            </tr>
            
            {% for item in produtos %}
            <tr>
                <td>{{ item.produto.nome }}</td>
                <td>{{ item.produto.modelo }}</td>
                <td>{{item.qtde }}</td>
                <td>{{ item.produto.valor_venda}}</td>
                <td>({{ item.produto.modelo }}) x {{ item.qtde }} = {{ item.preco }}</td> 
                
            </tr>
            
            {% empty %}
            <tr>
                <td colspan="3">Nenhuma Venda cadastrada!</td>
            </tr>
            {% endfor %}
            
        </table>
        
        
        <h4 class="mr-5 text-right">
            <b>Total Bruto:</b> R${{ object.valor_bruto|default_if_none:object.valor_total }}
        </h4>
        
        <h4 class="mr-5 text-right">
            <b>Desconto:</b> <span class="text-danger">{{ object.desconto|default_if_none:'Sem desconto' }}</span>
        </h4>
        
        <h4 class="mr-5 text-right">
            <b>Total da Venda:</b> R${{ object.valor_total }}
        </h4>
        
        
        <p class="py-4">
            <a href="#" class="d-inline-block mt-4" onclick="window.close()">
                Fechar
            </a>
        </p>

    </div>



</body>

</html>

<!-- -------------------------------------------------- -->


  
    
    
  