<!-- Faz uma página igual a base -->
{% extends 'adocao/base.html' %}

<!-- Carrega o static -->
{% load static %}

<!-- Só coloca o conteúdo porque o resto já vai ser igual -->
{% block conteudo %}
  <section class="page-section bg-light p-5">
    <div class="container">

      <div class="row">
        <div class="col-xl-11 mx-auto">

          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <!-- Aqui você coloca o título da página -->
              <span class="section-heading-lower">Lista Estados</span>
            </h2>
            <!-- I N I C I O -->
            <!-- Aqui vai o código do conteúdo da sua página -->

    

            <table class="table table-striped">

                    <tr>
                        <th>ID</th>
                        <th>Sigla</th>
                        <th>Nome</th>
                        <th>Opções</th>
                    </tr>
                
                    {% for estado in object_list %}
                
                    <tr>
                        <td>{{estado.pk}}</td>
                        <td>{{estado.sigla}}</td>
                        <td>{{estado.nome}}</td>
                        <td>
                            <a href="{% url 'editar-estado'  estado.pk %}" class="btn btn-dark">
                              <i class="fas fa-pencil-alt    "></i>
                            </a>

                            <a href="{% url 'excluir-estado'  estado.pk %}" class="btn btn-danger">
                             <i class="fas fa-trash    "></i>
                            </a>
                        
                        </td>
                    </tr>
                
                    {% empty %}
                    <tr>
                        <td colspan="3">Nenhuma estado cadastrado!</td>
                    </tr>
                    {% endfor %}
                
                </table>
                
                <a href="{% url 'cadastrar-estado' %}"class="btn btn-success">Adicionar novo estado</a>

            <!-- Fim do código da sua página -->
            <!-- F I M -->
          </div>

        </div>
      </div>

    </div>
  </section>
{%endblock%}
