<!-- Faz uma página igual a base -->
{% extends 'adocao/base.html' %}

<!-- Carrega o static -->
{% load static %}

<!-- Só coloca o conteúdo porque o resto já vai ser igual -->
{% block conteudo %}

<style>
    form ul, form ul li{
        list-style-type: none;
        list-style: none;
    }
</style>

<section class="page-section bg-light p-5">
    <div class="container">

        <div class="row">
            <div class="col-xl-11 mx-auto">

                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <!-- Aqui você coloca o título da página -->
                        <span class="section-heading-lower">Produtos da Venda Atual</span>
                    </h2>
                    <!-- I N I C I O -->
                    <!-- Aqui vai o código do conteúdo da sua página -->



                    <table class="table table-striped">

                        <tr>
                            <th>NOME</th>
                            <th>MARCA</th>
                            <th>MODELO</th>
                            <th>QTDE</th>
                            <th>VALOR DE VENDA</th>
                            <th>INF. AD.</th>
                            <th>OPÇÕES</th>
                        </tr>

                        {% for item in object_list %}

                        <tr>
                            <td>{{item.produto.nome}}</td>
                            <td>{{item.produto.marca}}</td>
                            <td>{{item.produto.modelo}}</td>
                            <td>{{item.quantidade}}</td>
                            <td>{{item.produto.valor_venda}}</td>
                            <td>{{item.informacoes_adicionais}}</td>

                            <td>
                                <a href="{% url 'editar-produtoCarrinho' item.pk %}" class="btn btn-sm btn-warning">
                                    <i class="fas fa-pencil-alt "></i>
                                </a>
                                <a href="{% url 'excluir-produtoCarrinho' item.pk %}" class="btn btn-sm btn-danger">
                                    <i class="fas fa-trash "></i>
                                </a>
                            </td>
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="3">Nenhuma Produto cadastrado!</td>
                        </tr>
                        {% endfor %}

                    </table>

                    <a href="{% url 'cadastrar-produtoCarrinho' %}" class="btn btn-success">Adicionar novo produto</a>
                    <a href="{% url 'cadastrar-venda' %}" class="btn btn-secondary">Finalizar venda</a>

                    <!-- Fim do código da sua página -->
                    <!-- F I M -->
                </div>

            </div>
        </div>

    </div>
</section>
{%endblock%}